<!doctype html>
<html lang="tr-tr">
<head>
	<meta charset="utf-8"/>
	<title>Djang Base</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="icon" href="{% static 'base/img/icon.ico' %}"/>
	<link rel="stylesheet" href="{% static 'base/css/style.css' %}"/>
	<script defer src="{% static 'base/js/script.js' %}"></script>
</head>
<body>
	{% include "base/navbar.html" %}
	<main>{% block main %}{% endblock %}</main>
	{% include "base/footer.html" %}
</body>
</html>
